target/
.terraform/
*.tfstate
*.tfstate.backup
project_MTVML/terraform/.terraform/
target/vprofile-v2.war/
.DS_Store

*.log
*.lock
.idea/  # Если используете IntelliJ IDEA
*.iml   # Файлы конфигурации IntelliJ





